body {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    position: relative;
    margin: 0 auto;
    background-color: #486796;

}

.wrapper {
    display: grid;
    font-size: 1.2em;
    height: 100vh;
    background-color: #486796;
    color: white;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "sidebar message"
    "sidebar message"
    "sidebar footer";
}

aside {
    grid-area: sidebar;
    background-color: #0c2954;
    color: white;
}
aside ul {
    list-style: inside;
    padding: 0;
    margin: 0;
}
aside ul li {
    margin: 5px;
}
#message-field {
    grid-area: message;
    overflow-y: scroll;
}
#message-field div {
    background-color: #5d2c56;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
#message-field div p {
    padding: 5px;
    display: inline-block;
}
#message-field div p a {
    color: white;
}
#text-area {
    grid-area: message-input;
    height: 50px;
    color: white;
}
#go {
    grid-area: submit;
}
#send-location {
    grid-area: location;
}
form {
    grid-area: footer;
    display: grid;
    grid-template-columns: 8fr auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "message-input submit location";
    grid-gap: 10px;
}
@media(max-width:680px) 
{
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "message"
        "message"
        "footer";
        grid-gap: 10px;
        height: 100vh;
    }
    form {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "message-input"
        "submit"
        "location";
        height: 20px;
    }
    aside#people{
        display: none;
    }

}