
body {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    position: relative;
}

#message-field {
    font-size: 1.2em;
    margin: 0 auto;
    width: 70%;
}

#message-form {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-gap: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.in-form {
    padding: 10px;
}